<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
  <connectionStrings>
    <add name="Cine" connectionString="Data Source = MACBOOK\MSSQLSERVER2012; Initial Catalog = Cinepolis; User Id = sa; Password = 12345;"  />
    <!--<add name="Cine" connectionString="Data Source = (Rulas-PC); Initial Catalog = Cinepolis; User Id = sa; Password = 12345;"  />-->
  </connectionStrings>
  
</configuration>
